@import "tailwindcss";

:root {
  --primary: #f97316; /* orange-500 */
  --secondary: #3b82f6; /* blue-500 */
  --dark: #1f2937; /* gray-800 */
  --light: #f3f4f6; /* gray-100 */
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--light);
  color: var(--dark);
}
